{
    "servers": [
      {
        "name": "database 1",
        "user": "db_username",
        "password": "db_password",
        "host": "localhost",
        "port": 3306,
        "database": "db_name",
        "ignored_tables":["db_name.tbl_name1","db_name.tbl_name2"]
      },
      {
        "name": "database 2",
        "user": "db_username",
        "password": "db_password",
        "host": "localhost",
        "port": 3306,
        "database": "db_name",
        "tables":["tbl_name3"]
      }
    ]
  }
  